[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

#[[source]]
#url = "https://testpypi.python.org/pypi"
#verify_ssl = true
#name = "pypitest"

[packages]
Jinja2 = "2.11.3"
Flask = "1.1.2"
uWSGI = "2.0.19.1"
pytz = "2021.1"
#actingweb = {path = "./../actingweb", editable = true}
#actingweb = {version="*", index="pypitest"}
actingweb = "2.6.5"
stripe = "2.56.0"

[dev-packages]
pydevd-pycharm = "*"

[requires]
python_version = "3.7"
